.App {
  left:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #04AA6D; */
}

li {
  float: left;
}

li a{
  display: block;
  color: #046FAA;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

li label{
  display: block;
  color: #046FAA;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

li span {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #046FAA;
  color:white;
}
li label:hover:not(.active) {
  background-color: #046FAA;
  color:white;
}
/* 
.active {
  background-color: #04AA6D;
} */

.navigation_bar{
  -webkit-box-shadow: 0 3px 5px -6px #222222;
  -moz-box-shadow: 0 3px 5px -6px #222222;
       box-shadow: 0 3px 5px -6px #222222;
}