



.addExpense_div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:40px; 
    justify-content:center;
    align-items:center;
}

.addExpense_div input {
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 300px;
    border-radius: 0;
    padding-bottom: 5px;
    cursor: text;
}

.addExpense_div input:focus {
    outline: 0;
    border-bottom: 1px solid #046FAA;
}

.addExpense_div label {
    font-size: 15px;
    color: #046FAA;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.header{
    font-size: 20px;
    padding-left: 5px ;
    padding-bottom: 5px;
    border-left: 2px solid #046FAA;
}

.addExpense_div .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px 20px;
    letter-spacing: 0.05rem;
    background-color: #046FAA;
    color:white;
    border-radius: 5px;
    border: 2px solid #046FAA;
}

.addExpense_div .btn:hover { 
    /* outline: 2px dotted #55d7dc;  */
    border: 2px solid #046FAA;
    background-color: transparent;
    color:black
}

.another_button{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    border: none;
    cursor: pointer;    
    line-height: 1.5;
    width: fit-content;
    font-size: 15px;
    padding: 10px 20px;
    letter-spacing: 0.05rem;
    background-color: #046FAA;
    color:white;
    border-radius: 5px;
    border: 2px solid #046FAA;
}

.another_button:hover{
    border: 2px solid #046FAA;
    background-color: transparent;
    color:black
}

.addExpense_div input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.addExpense_div input[type="checkbox"]::before {
    color: #046FAA;
}



/* .draw-border {
    btn-border-drawing(grey, #FF6363, 2px, bottom, right);
} */